<section id="about" class="about">

  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>{{about.title}}</h3>
          <h2>{{about.byline}}</h2>
          <p>
            {{about.content|richtext|safe}}
          </p>
          <div class="text-center text-lg-start">
            <a href="{{about.btnLinkType}}{{about.btnLink}}" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>{{about.btnText}}</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{about.imageUrl}}" class="img-fluid" alt="{{about.byline}}">
      </div>

    </div>
  </div>

</section>