<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">

    {% include 'components/count-item.njk' %}          

    </div>

  </div>
</section>
