<section id="faq" class="faq">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>{{faqs.title}}</h2>
      <p>{{faqs.subtitle}}</p>
    </header>

    <div class="row">
      {% set questions = faqs.questions %}
      {% for listNumber, questions in questions | groupby("listNumber") %}

      <div class="col-lg-6">

          <div class="accordion accordion-flush" id="faqlist{{listNumber}}">

            {% for question in questions %}
            <div class="accordion-question">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-{{question._key}}">
                  {{question.question}}
                </button>
              </h2>
              <div id="faq-content-{{question._key}}" class="accordion-collapse collapse" data-bs-parent="#faqlist{{question._key}}">
                <div class="accordion-body">
                  {{question.answer|richtext|safe}}
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
      </div>

      {% endfor %}
    </div>

  </div>

</section>