<section id="portfolio" class="portfolio">
  
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>{{portfolio.title}}</h2>
      <p>{{portfolio.subtitle}}</p>
    </header>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-filters">
          <li data-filter="*" class="filter-active">All</li>

          {% for category, portfolioItems in portfolio.portfolioItems | groupby('category') %}
          <li data-filter=".filter-{{category}}">{{category}}</li>
          {% endfor %}

        </ul>
      </div>
    </div>

    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

      {% set items = portfolio.portfolioItems %}

      {% include 'components/portfolio-item.njk' %}

    </div>

  </div>

</section>