<section id="pricing" class="pricing">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>{{pricing.title}}</h2>
      <p>{{pricing.subtitle}}</p>
    </header>

    <div class="row gy-4" data-aos="fade-left">

      {% set items = pricing.pricingItem %}
      {% include 'components/pricing-item.njk' %}

    </div>

  </div>

</section>
