<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
  <body>
    {% block header %}
      {% include 'layouts/header.njk' %}
    {% endblock %}
    
     
    <main>
      {% block content %}
        {{content|safe}}
      {% endblock %}
    </main>


    {% block footer %}
      {% include 'layouts/footer.njk' %}
    {% endblock %}

    {% include 'scripts.njk' -%}
  </body>
</html>