<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <meta name="description" content="{{description or siteSettings.description}}">

  <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml" />
  <link rel="alternate icon" href="/assets/images/favicon.png" type="image/png" />
  <link rel="mask-icon" href="/assets/images/favicon.svg" />
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />

  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="{{siteSettings.appThemeClr}}" />

  <link rel="stylesheet" href="/assets/styles.css">
</head>