<nav id="navbar" class="primary-navigation">
  <ul class="flex-group mx-auto">
    <li><a class=" active" href="/">Home</a></li>
    <li><a class="" href="/landing">Landing</a></li>
    <li><a class="" href="/theming-kit">Theming Kit</a></li>
    
    <li><a class="nav-link" href="/contact">Contact</a></li>

  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav>