    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/index.legacy.js"></script>
    {% block scripts %}{% endblock %}
    <script>navigator.serviceWorker.register('/service-worker.js');</script>