<header id="primary-header" class="primary-header">
    <div class="container">

      <a href="/" class="logo">
        <img src="{{siteSettings.logoUrl}}" alt="">
        <span>{{siteSettings.siteOwner}}</span>
      </a>


      {% include 'components/nav.njk' %}

  </div>
</header>