<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="{{siteSettings.logoUrl}}" alt="">
        <span>{{siteSettings.title}}</span>
      </a>


      {# {% include 'components/nav.njk' %} #}

  </div>
</header>