---
layout: base.njk
title: {{siteSettings.title}}
description: {{siteSettings.description}}
---
{% block header %}
  <h1>Hello World!</h1>
{% endblock %}

{% block content %}
  <h2>{{siteSettings.title}}</h2>
  <img src="{{siteSettings.logoUrl}}" width="30%"/>
{% endblock %}

{% block footer %}
{% endblock %}
