---
title: WebConnectionz Eleventy Sanity Starter Template
description: Doesn't matter what I put here, its going to be replaced
extends: base.njk
---

<h1>Landing page</h1>

<p>This is the landing page for {{title}}.
This will become the template for generating all landing pages within the site.</p>
{% block scripts %}
  <script src="/js/multiplicative-math.js" type="module"></script>
  <script src="/js/multiplicative-math.legacy.js" nomodule></script>
{% endblock %}