---
permalink: '/manifest.json'
---
{
  "dir": "ltr",
  "lang": "en-US",
  "name": "{{siteSettings.title}}",
  "short_name": "{{siteSettings.shortTitle}}",
  "scope": "/",
  "display": "standalone",
  "start_url": "/",
  "id":"/",
  "background_color": "#fafafa",
  "theme_color": "{{siteSettings.clrPrimary}}",
  "description": "{{siteSettings.description}}",
  "orientation": "portrait",
  "prefer_related_applications": false,
  "categories": ["Web Development", "Full Stack development", "JAMStack"],
  "icons": [
    {
      "src": "assets/images/favicon.svg",
      "type": "image/svg+xml",
      "purpose": "any"
    },
    {
      "src": "assets/images/logo.png",
      "sizes": "512x512",
      "type": "image/png",
      "purpose": "maskable any"
    }
  ],
  "shortcuts": [
	  {
      "name": "Contact Us",
      "url": "/contact/index.html",
      "description": "Contact us now"
    }
  ],
  "url": "{{siteSettings.url}}"
}