---
permalink: '/manifest.json'
---
{
  "dir": "ltr",
  "lang": "en-US",
  "name": "{{coreData.title}}",
  "short_name": "{{coreData.shortTitle}}",
  "scope": "/",
  "display": "standalone",
  "start_url": "/",
  "id":"/",
  "background_color": "{{coreData.appBgClr}}",
  "theme_color": "{{coreData.appThemeClr}}",
  "description": "{{coreData.description}}",
  "orientation": "portrait",
  "prefer_related_applications": false,
  "categories": ["Web Development", "Full Stack development", "JAMStack"],
  "icons": [
    {
      "src": "assets/images/favicon.svg",
      "type": "image/svg+xml",
      "purpose": "any"
    },
    {
      "src": "assets/images/logo.png",
      "sizes": "512x512",
      "type": "image/png",
      "purpose": "maskable any"
    }
  ],
  "shortcuts": [
	  {
      "name": "Contact Us",
      "url": "/contact/index.html",
      "description": "Contact us now"
    }
  ],
  "url": "{{coreData.url}}"
}