---
permalink: '../src/_scss/_themes.scss'
---
// Colors
$clr-default: {{siteSettings.clrDefault}};
$clr-primary: {{siteSettings.clrPrimary}};
$clr-secondary: {{siteSettings.clrSecondary}};

// Fonts
$ff-base: {{siteSettings.fontBase}}, sans-serif;
$ff-accent: {{siteSettings.fontAccent}}, serif;

:root {

  --clr-default: #{$clr-default};
  --clr-primary: #{$clr-primary};
  --clr-secondary: #{$clr-secondary};

  --ff-base: #{$ff-base};
  --ff-accent: #{$ff-accent};
    
  scroll-behavior: smooth;
}

$clr-dark:darken($clr-default,65);
$clr-light:lighten($clr-default,65);

// General Colors
$red: #dc3545;
$green: #28a745;
$blue: #007bff;
$yellow: #ffc107;
$orange: #fd7e14;
$brown: #7b4f2c;
$purple: #6f42c1;
$pink: #e83e8c;
$white: #fff;
$gray: #6c757d;
$black: #343a40;
$teal: #20c997;
$cyan: #17a2b8;
