@use 'sass:color' as *;
@use '../themes' as *;

$colors: (
  
  neutral: (
    100: adjust($clr-default, $lightness:70%),
    900: adjust($clr-default, $lightness:-70%)
  ),
  primary: (
    400: $clr-primary
  ),
);
