---
layout: base.njk
title: Web Connectionz 11ty Starter Template
description: {{siteSettings.description}}
---
{% block content %}
  <div class="container">
    <h2 class="text-center">{{siteSettings.title}}</h2>
    <img src="{{siteSettings.logoUrl}}" alt="Logo of {{siteSettings.title}}" width="30%"/> 
  </div>
{% endblock %}
