---
layout: base.njk
title: WebConnectionz Eleventy Sanity Starter Template
description: Doesn't matter what I put here, its going to be replaced
extends: base.njk
---
<div class="container">
  <p>This is the landing page for {{title}}. This will become the template for generating all landing pages within the site.</p>
</div>
