---
layout: base.njk
---
<section class="text-center">
  <heading class="section-heading bg-neutral-100 text-center" data-decoration="true">
    <h2 class="fs-800">Default Section</h2>
    <p class="fs-600 uppercase">This is the subtitle.</p>
  </heading>
    <div class="even-columns">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, inventore?</p>
      <p>Corrupti deserunt, placeat explicabo molestiae sunt eaque et expedita assumenda.</p>
      <p>Perferendis expedita harum cupiditate laboriosam fugit illum explicabo illo non.</p>
    </div> 
</section>

<section>
  <heading class="section-heading bg-neutral-900" data-decoration="true">
    <h2 class="fs-800">Dark Section</h2>
  </heading>
    <div class="even-columns">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, inventore?</p>
      <p>Perferendis expedita harum cupiditate laboriosam fugit illum explicabo illo non.</p>
      <p>Corrupti deserunt, placeat explicabo molestiae sunt eaque et expedita assumenda.</p>
      <p>Perferendis expedita harum cupiditate laboriosam fugit illum explicabo illo non.</p>
    </div>
</section>

<section class="text-center">
  <heading class="section-heading">
    <h2 class="fs-800">Undecorated Section without subtitle</h2>
  </heading>
  <div class="even-columns">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, inventore?</p>
    <p>Perferendis expedita harum cupiditate laboriosam fugit illum explicabo illo non.</p>
  </div>
</section>

<section class="text-center">
  <div class="buttons">
    <button class="button">Button</button>
    <button class="button" data-type="inverted">Inverted</button>
    <button class="button" data-type="outline">Outline</button>
  </div>
</section>
