{# {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} class="active"{% endif %}>{{ entry.title }}</a> 
      </li>
    {%- endfor %}
  </ul> #}
<nav id="navbar" class="navbar">
  <ul>
    <li><a class="nav-link scrollto active" href="/">Home</a></li>
    <li><a class="nav-link scrollto" href="/#about">About</a></li>
    <li><a class="nav-link scrollto" href="/#services">Services</a></li>
    <li><a class="nav-link scrollto" href="/#portfolio">Portfolio</a></li>
    <li><a class="nav-link scrollto" href="/#team">Team</a></li>
    {# <li><a href="blog.html">Blog</a></li> #}
    <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav>