{% for item in items %}
{% set imgUrl = item.images[0].imgUrl %}
<div class="col-lg-4 col-md-6 portfolio-item filter-{{item.category}}">
  <div class="portfolio-wrap">
    <img src="{{imgUrl}}" class="img-fluid" alt="">
    <div class="portfolio-info">
      <h4>{{item.title}}</h4>
      <p>{{item.subtitle}}</p>
      <div class="portfolio-links">
        <a href="{{imgUrl}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{item.title}}"><i class="bi bi-plus"></i></a>
        <a href="/portfolio/{{item.title|slug}}/index.html" title="More Details"><i class="bi bi-link"></i></a>
      </div>
    </div>
  </div>
</div>
{% endfor %}