{% for item in items %}
<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
  <div class="member">
    <div class="member-img">
      <img src="{{item.imgUrl}}" class="img-fluid" alt="">
      <div class="social">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <div class="member-info">
      <h4>{{item.firstName}} {{item.lastName}}</h4>
      <span>{{item.role}}</span>
      <p>{{item.bio|richtext|safe}}</p>
    </div>
  </div>
</div>
{% endfor %}