 {% for item in items %}
<div class="swiper-slide">
  <div class="testimonial-item">
    <div class="stars">
        {% for i in range( item.stars ) %}
          <i class="bi bi-star-fill"></i>
        {% endfor %}
    </div>
    <p>{{item.quote}}</p>
    <div class="profile mt-auto">
      <img src="{{item.imgUrl}}" class="testimonial-img" alt="photo of: {{item.name}}">
      <h3>{{item.name}}</h3>
      <h4>{{item.role}}</h4>
    </div>
  </div>
</div>
{% endfor %}